/*General*/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Sue Ellen Francisco', 'Helvetica Neue', sans-serif;
	font-size: 20pt;
}

a {
	text-decoration: none;
	color: hsl(330, 80%, 55%)
}

a:hover {
	color: hsl(330, 80%, 70%);
}

main {
	margin: 0 10%;
	flex: 1;
}

h1 {
	font-size: 1.5em;
	margin: 0px;
}

p {
	color: hsl(330, 95%, 10%);
}

img {
	max-width: 100%;
}

/*Header*/

header {
	text-align: center;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

#logo {
	font-size: 36pt;
	padding: 10px;
}

nav {
	display: flex;
	justify-content: space-around;
	padding: 0 10px;
}

nav a {
	color: hsl(330, 90%, 40%);
	font-size: 18pt;
	letter-spacing: .15em;
}

/*Footer*/

footer {
	background-color: hsl(330, 60%, 50%);
	color: white;
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16pt;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

#smiley {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin-bottom: 6px;
}

/*Home Page*/

#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cake {
	font-size: 14pt;
	margin-bottom: 20px;
}

/*About Page*/

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about_photo {
	width: 100%;
	max-width: 480px;
	border-radius: 10px;
}

#about_text {
	max-width: 480px;
}

/*Contact Page*/

#contact_text {
	max-width: 240px;
	margin: 0 auto;
}