/*General*/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Kalam', sans-serif;
	font-size: 15pt;
}

a {
	text-decoration: none;
	color: hsl(350, 80%, 55%)
}

a:hover {
	color: hsl(350, 80%, 70%);
}

main {
	margin: 0 5%;
	flex: 1;
}

h1 {
	font-size: 1.5em;
	margin: 0px;
}

p {
	color: hsl(350, 95%, 10%);
}

img {
	max-width: 100%;
}

/*Header*/

header {
	text-align: center;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#logo {
	font-family: 'Kalam', sans-serif;
	font-size: 24pt;
	margin-bottom: 10px;
}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 300px;
}

nav a {
	color: hsl(350, 60%, 50%);
	letter-spacing: .1em;
}

/*Footer*/

footer {
	background-color: hsl(350, 60%, 50%);
	color: white;
	padding: 20px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

#smiley {
	margin: 6px;
}

/*Home Page*/

#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cake {
	font-size: 10pt;
	margin-bottom: 20px;
}

/*About Page*/

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about_photo, #contact_photo {
	width: 100%;
	max-width: 430px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

#about_text {
	max-width: 430px;
}

/*Contact Page*/

#contact_text {
	margin: 0 auto;
}