@media screen and (min-width: 440px) {
	#contact_text {
		max-width: 400px;
	}
}

@media screen and (min-width: 600px) {
	#contact_text {
		max-width: 550px;
	}

	.cake {
		width: 46%;
	}
}

@media screen and (min-width: 745px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 5%;
		align-items: baseline;
	}

	#logo {
		margin-bottom: 0;
	}

	.cake {
		width: 30%;
	}
}
