@media screen and (min-width: 400px) {
	#contact_text {
		max-width: 326px;
	}
}

@media screen and (min-width: 600px) {
	#contact_text {
		max-width: 480px;
	}
}

@media screen and (min-width: 720px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		padding: 30px 5%;
		align-items: baseline;
	}

	nav {
		width: 348px;
	}
}
